<header  class="box">
    <h1>Child Component</h1>
    <div class="button-group">
       <button class="custom-button" (click)="incr()">Add+</button>
       <button class="custom-button" (click)="decr()">Sub-</button>
       <button class="custom-button" (click)="reset()">Reset</button><br><br>
    </div>
    <div class="input-group">
        <input class="input-field" type="text" [(ngModel)]="value" placeholder="Enter the name in child"><br>
        <button class="send-button" (click)="SendFromChild()">SendFromChild</button>
    </div>
</header>